<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="../../css/cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="cadastro-container">
    <h2>Cadastro</h2>
    <form action="/cadastrarUsuario" th:object="${usuario}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-grid">
            <div class="input-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required th:field="*{nome}">
            </div>
            <div class="input-group">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome" name="sobrenome" required th:field="*{sobrenome}">
            </div>
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required th:field="*{email}">
            </div>
            <div class="input-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" required th:field="*{telefone}">
            </div>
            <div class="input-group">
                <label for="cep">CEP</label>
                <input type="text" id="cep" name="cep" required th:field="*{CEP}">
            </div>
            <div class="input-group">
                <label for="rua">Rua</label>
                <input type="text" id="rua" name="rua" required th:field="*{rua}">
            </div>
            <div class="input-group">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" required th:field="*{bairro}">
            </div>
            <div class="input-group">
                <label for="numero">Número</label>
                <input type="text" id="numero" name="numero" required th:field="*{numero}">
            </div>
            <div class="input-group">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" required th:field="*{cidade}">
            </div>
            <div class="input-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado" name="estado" required th:field="*{estado}">
            </div>
            <div class="input-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required th:field="*{senha}">
            </div>
            <div class="input-group">
                <label for="confirmarSenha">Confirmar Senha</label>
                <input type="password" id="confirmarSenha" name="confirmarSenha" required>
            </div>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>

<!--Instalando o JQUERY-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!--JQUEY Mask-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<!--Aplicando as mascaras-->
</body>
<script>
    $('#nome, #sobrenome, #rua, #bairro, #cidade, #estado').on('keypress', function (e) {
    const char = String.fromCharCode(e.which);
    const regex = /^[A-Za-zÀ-ÖØ-ÿ\s]+$/;
    if (!regex.test(char)) {
        e.preventDefault();
        }
    });
    $('#numero').mask('0000');
    $('#telefone').mask('(00) 0000-0000');
    $('#cep').mask('00000-000');


    // Verificação de confirmação de senha
    $('form').on('submit', function (e) {
        const senha = $('#senha').val();
        const confirmarSenha = $('#confirmarSenha').val();

        if (senha !== confirmarSenha) {
            e.preventDefault(); // Impede o envio do formulário
            $('#confirmarSenha')[0].setCustomValidity("As senhas não conferem");
        }
    });
</script>
</html>