<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="../../css/cadastro.css">
    <link rel="stylesheet" href="../../css/adotarPlanta.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="cadastro-container">
    <h2>Adotar Planta</h2>

    <td>
        <div class="plant-card">
            <img class="plant-image" th:src="@{/listagemDePlantas/informacoesPlanta}" alt="Imagem da planta">
        </div>
        <br>
        <div class="button-container">
            <form action="/listagemDePlantas/informacoes/adotarPlanta" method="GET">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="button">Adotar Planta</button>
            </form>
            <div th:text="${mensagem}"></div>
        </div>
    </td>
</div>

</body>
</html>
