<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de atualização de dados</title>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<input id="close-menu" class="close-menu" type="checkbox" aria-label="Fechar menu" role="button">
<label class="close-menu-label" for="close-menu" title="Menu"></label>
<aside class="menu white-bg">
    <div class="main-content menu-content">
        <h1 onclick="getElementById('close-menu').checked = false;">
            <a href="/inicio">DOAÇÃO DE PLANTAS</a>
        </h1>

        <nav>
            <ul onclick="getElementById('close-menu').checked = false;">
                <li><a href="/listagemDePlantas">Adotar Plantas</a></li>
                <li><a href="/doarPlanta">Doar Plantas</a></li>
                <li><a href="#atualizar">Atualizar Dados</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</aside>

<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="cadastro-container">
    <h2>Atualização de Dados Pessoais</h2>
    <form action="/atualizarUsuario" th:object="${usuario}" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-grid">
            <div class="input-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" required th:field="*{nome}">
            </div>
            <div class="input-group">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome" name="sobrenome" required th:field="*{sobrenome}">
            </div>
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required th:field="*{email}">
            </div>
            <div class="input-group">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" name="telefone" required th:field="*{telefone}">
            </div>
            <div class="input-group">
                <label for="cep">CEP</label>
                <input type="text" id="cep" name="cep" required th:field="*{CEP}">
            </div>
            <div class="input-group">
                <label for="rua">Rua</label>
                <input type="text" id="rua" name="rua" required th:field="*{rua}">
            </div>
            <div class="input-group">
                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="bairro" required th:field="*{bairro}">
            </div>
            <div class="input-group">
                <label for="numero">Número</label>
                <input type="text" id="numero" name="numero" required th:field="*{numero}">
            </div>
            <div class="input-group">
                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="cidade" required th:field="*{cidade}">
            </div>
            <div class="input-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado" name="estado" required th:field="*{estado}">
            </div>
            <div class="input-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required th:field="*{senha}">
            </div>
        </div>
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>