<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar informações</title>
    <link rel="stylesheet" href="../../css/confirmarDados.css">
    <link rel="stylesheet" href="../../css/cadastro.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="cadastro-container">
    <h2>Confirme as informações abaixo</h2>
    <p>Essas informações, serão enviadas ao adotante. Após confirmar os dados, espere ele entrar em contato com você.</p>
    <br>
    <br>
    <form action="/enviarInformacoes" method="POST" th:object="${dadosDoador}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-grid-dados">
            <div class="input-group">
                <label for="nome_planta">Nome da Planta</label>
                <input type="text" id="nome_planta" name="nome_planta" required th:field="*{nomePlanta}" readonly>
            </div>
            <div class="input-group">
                <label for="enderecoRetira">Endereço de retirada</label>
                <input type="text" id="enderecoRetira" name="enderecoRetira" th:field="*{endRetirada}" required>
            </div>
            <div class="input-group">
                <label for="numWhatsApp">Número WhatsApp</label>
                <input type="text" id="numWhatsApp" name="numWhatsApp" required th:field="*{numWhatsApp}">
            </div>
            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required th:field="*{email}">
            </div>
        </div>
        <br>
        <div class="input-group">
            <label for="descricao">Observação</label>
            <textarea id="descricao" name="descricao" rows="4" th:field="*{obs}" required></textarea>
        </div>
        <button type="submit">Confirmar</button>
    </form>
</div>
</body>
</html>
