<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../css/error.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="login-container">
    <h2>A página que você está tentando acessar, não existe ou você não tem permissão de acesso</h2>
    <p>Contacte o administrador</p>

    <a href="/inicio" class="button login-button"><span>Voltar</span></a>
</div>
</body>
</html>
