<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="../../css/MainScreen.css">
</head>

<body>
<input id="close-menu" class="close-menu" type="checkbox" aria-label="Fechar menu" role="button">
<label class="close-menu-label" for="close-menu" title="Menu"></label>
<aside class="menu white-bg">
    <div class="main-content menu-content">
        <h1 onclick="getElementById('close-menu').checked = false;">
            <a href="#inicio-web">DOAÇÃO DE PLANTAS</a>
        </h1>

        <nav>
            <ul onclick="getElementById('close-menu').checked = false;">
                <li><a href="#inicio-web">Adotar Plantas</a></li>
                <li><a href="/doarPlanta">Doar Plantas</a></li>
                <li><a href="#contact">Atualizar Dados</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </nav>
    </div>
</aside>

<table>
    <thead>
    <tr>
        <th>Plantas para doação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="planta : ${listaImagens}">
        <td>
            <div class="plant-card">
                <img th:src="@{/listagemDePlantas/plantasDisponiveis/{imagem}(imagem=${planta.caminhoImg})}" alt="Imagem da planta">
                <h2 th:text="${planta.nome}"></h2>
                <p th:text="${planta.descricao}"></p>
            </div>
        </td>
    </tr>
    </tbody>
    <tbody>
    <tr th:each="usuario : ${listaNomes}">
        <td>
            <h2 th:text="${usuario.nome}"></h2>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>
