<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="login-container">
    <h2>Crie uma nova senha</h2>
    <form action="redirect:/inicio" method="POST">
        <div class="input-group">
            <label for="username">Senha</label>
            <input type="password" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="username">Digite novamente</label>
            <input type="password" id="username" name="username" required>
        </div>
        <button type="submit">Confirmar</button>
    </form>
</div>
</body>
</html>
