.plant-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-color: #f0f0f0;
    overflow: hidden;
}

.plant-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
    border: none;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: #45a049;
}
