<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="../../css/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="TopleftBackground"></div>
<div class="BottomrightBackground"></div>
<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="input-group">
            <label for="username">E-mail</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div th:if="${erro}" class="error-message">
            <p th:text="${erro}"></p>
        </div>
        <button type="submit">Entrar</button>
        <p><a href="/recuperarSenha">Esqueceu a senha?</a></p>
    </form>
</div>
</body>
</html>